[Desktop Entry]
Version=1.0
Type=Application
Name=TerminaLite
Comment=TerminaLite - A lightweight and versatile terminal.
Exec=termlite
Icon=termlite
Terminal=false
Categories=Utility;System;
